# Bootstrap
app/bootstrap*

# Symfony directories
bin/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assets/css
web/assets/vendor
web/assets-built
node_modules
.sass-cache
composer.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
