# Bootstrap
app/bootstrap*

# Symfony directories
bin/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assets/*
web/assets-built
node_modules

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
