{% extends "::base.html.twig" %}

{% block requirejs %}
    {{ include("::requirejs.html.twig",  {
        module: "app/homepage"
    }) }}
{% endblock %}

{% block javascripts %}
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
{% endblock %}

{% block body %}
    <div class="view-container">
        <div ng-view class="view-frame"></div>
    </div>
{% endblock %}

