<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                "assets/vendor/bootstrap/dist/css/bootstrap.min.css"
            %}
                <link rel="stylesheet" href="{{ asset(asset_url) }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('assets/vendor/requirejs/require.js') }}"></script>
        <script>
            requirejs.config({
                baseUrl: 'assets/js',
                paths: {
                    jquery: '../vendor/jquery/dist/jquery.min',
                    bootstrap: '../vendor/bootstrap/dist/js/bootstrap.min'
                }
            });

            require(['app/homepage', 'jquery', 'bootstrap']);
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
