<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                "assets/vendor/bootstrap/dist/css/bootstrap.min.css"
            %}
                <link rel="stylesheet" href="{{ asset('assets/css/layout.css') }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block requirejs %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
