imports:
    - { resource: parameters.yml }

framework:
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    templating:
        engines: ['twig']
    default_locale:  "en"

twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
